language: python
python:
- '3.5'
branches:
  only:
  - master
  - develop
install:
- pip install -r requirements.txt
script:
- printenv
deploy:
  provider: pypi
  user: devopshq
  password:
    secure: "EmzZanCfpVnRabeesrV9DIcYoxcgYmsfC/6gEbD55iBiRFy9/+YRNMP7SwJZZCWOxxDstFpH4H+aCDssxBNfAUEW6ejs0qpo6Z+OWmqmWCj2spHrmwyhk8tkme70OvIC6P+JCc7iFOaYiA0oorEMv/hjSpKuDTT/TEeU86jSYrhDKXO4nljeR8tHBijKKXGLMGI8q/vL0WBja3mk7tEOz96wIC5ANL+yaUN6Hge1auMnUu8dJ4Cs9Zop7cy3xWmra88SAQWjNNt1dAGlYysTYuQfjyQ5wHBznFABt5bMNxJUOFR6S58UCKFMk9mB5AV+MiKE/CH34ROhvN+Dkvx613VCHQJplRokQI9nlQqFu1gzYbLr/VTvV1kFeGwVPU9ShiAFo/qM4XMyosxGwS21QFSpgREbUUOoVZ0iPvNFpDHuBCFuFZpREX4j6vROcvAXZMZimhdhZ5RUPjgkHz2vkoG1UxmJDJPCeyGxLYFk0H51qGzbn3lAojWREX+Buto8Z9Ulw7NuA4oHmt6Ny4IeuaineiaFvR8PExloiqqzfZ639uDpNOGejhlx8L3/9jUP3jfcgI5Zik8/hfVOP41k1PdhyGRwfLcrte9xbAkqgzewgDBu/EObcd28y/1NWetbLgDqWbQMX7PS3hf9ErsqhwOhVeQfvIGzet3tjQL9GGU="
  distributions: sdist bdist_wheel
  skip_cleanup: true
  on:
    branch: master
